/* MOBILE FIRST APPROACH
 */

@media (max-width: 765px) {
  .hero-main-container {
    position: relative;
    max-width: 1330.4px;
    height: 514.8px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: min-content;
    min-height: 435.38px;
    margin-inline: auto;
  }

  .hero-main-container::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 46.03px;
    height: 46.46px;
    opacity: 0.42;
    background: url(/Hero2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -1;
  }

  .hero-main-container::after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 94.71px;
    height: 112.38px;
    background: url(/Hero1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -1;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 313px;
    min-height: 404px;
    margin: 16px 15px;
    background-color: var(--bg-light-gray);
    border-radius: 0 63.59px 0 0;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 19px;
    margin-inline: 50px;
    /* gap: 5px; */
  }

  /* .hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-block: 19px;
    gap: 11px;
  } */
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: inline;
  }

  .tablets {
    display: none;
  }

  .hero-text .heading-text {
    font-size: 28px;
    font-weight: 800;
  }
  .hero-text h1 {
    font-size: 12px;
    font-weight: 400;
  }

  .green {
    color: var(--clr-accent-400);
    font-weight: 900;
  }

  .hero-text > p {
    font-size: 13px;
    font-weight: 500;
    max-width: 30ch;
    color: black;
  }
  .hero-text button {
    cursor: pointer;
    background-color: var(--bg-green);
    color: var(--clr-neutral-100);
    font-size: 8.21px;
    font-weight: 500;
    line-height: 10.01px;

    border: none;
    border-radius: 2.05px;
    padding: 7.19px 12.32px;
    width: 59.55px;
    transition: background-color 0.3s;
  }

  .hero-text button:hover {
    background-color: #3e8e57;
    color: white;
  }

  .hero-image {
    width: 100%;
    min-height: 205px;
    background-image: url(/Hero.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 765px) and (max-width: 1204px) {
    /* .desktop {
      display: none;
    }

    .tablet {
      display:none;
    }

    .mobile {
      display:inline;
    } */
  /* .hero-container {
    display:block;
  } */

.heading-text{
 display: flex;
  flex-direction: column;
  align-items:left;
  margin-right: 45px;
}
  .hero-main-container {
    position: relative;
    /* max-width: 1330.4px; */
    /* height: 514.8px; */
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    /* min-height: 435.38px; */
    width:80% ;
   
  }

  .hero-main-container::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 46.03px;
    height: 46.46px;
    opacity: 0.42;
    background: url(/Hero2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -1;
  }

  .hero-main-container::after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 94.71px;
    height: 112.38px;
    background: url(/Hero1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -1;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 513px;
    min-height: 404px;
    margin: 16px 15px;
    background-color: var(--bg-light-gray);
    border-radius: 0 63.59px 0 0;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 80px; */
    justify-content: center;
    margin-block: 19px;
    margin-inline: 50px;
    /* gap: 5px; */
  }

  /* .hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-block: 19px;
    gap: 11px;
  } */
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: inline;
  }

  .tablets {
    display: none;
  }

  .hero-text .heading-text {
    font-size: 40px;
    font-weight: 800;
  }
  .hero-text h1 {
    font-size: 20px;
    font-weight: 400;
  }

  .green {
    color: var(--clr-accent-400);
    font-weight: 900;
  }

  .hero-text > p {
    font-size: 18px;
    font-weight: 500;
    max-width: 28ch;
    color: black;
    text-align:left;
  }
  .hero-text button {
    cursor: pointer;
    background-color: var(--bg-green);
    color: var(--clr-neutral-100);
    font-size: 10.21px;
    font-weight: 500;
    line-height: 10.01px;
    border: none;
    border-radius: 2.05px;
    padding: 9.19px 14.32px;
    width: 59.55px;
    transition: background-color 0.3s;
  }

  .hero-text button:hover {
    background-color: #3e8e57;
    color: white;
  }

  .hero-image {
    margin-top: 20px;
    width: 100%;
    min-height: 305px;
    background-image: url(/Hero.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
}

@media screen and (min-width: 1205px) {
  .desktop {
    display: inline;
  }
  .tablets {
    display: none;
  }
  .tablet {
    display: none;
  }

  .mobile {
    display: none;
  }
  .hero-main-container {
    position: relative;
    max-width: 1330.4px;
    min-height: 514.8px;
    align-items: flex-end;
    margin-inline: auto;
  }
  .hero-main-container::before {
    left: auto;
    right: 40%;
    top: 41px;
    width: 223.4px;
    height: 183.55px;
    opacity: 1;
  }
  .hero-main-container::after {
    bottom: 0;
    left: 30%;
    height: 128.8px;
    width: 124.41px;
  }

  .hero-container {
    position: relative;
    height: 416px;
    width: 1280px;
    border-radius: 0 150px 0 70px;
    /* background-color: var(--bg-light-green); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 19px;
    margin-inline: 50.45px;
    gap: 11px;
  }

  .hero-text .heading-text {
    font-size: 67px;
    font-weight: 800;
    line-height: 81.67px;
  }
  .hero-text h1 {
    font-size: 28px;
    font-weight: 500;
    font-weight: 400;
    line-height: 34.13px;
    text-wrap: nowrap;
  }

  .green {
    color: var(--clr-accent-400);
    font-weight: 900;
  }

  .hero-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    max-width: 40ch;
  }
  .hero-text button {
    cursor: pointer;
    background-color: var(--bg-green);
    color: var(--clr-neutral-100);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    width: 116px;
    border: none;
    border-radius: 4px;
    padding: 14px 24px;
    transition: background-color 0.3s;
    margin-block: 14.38px;
  }

  .hero-text button:hover {
    background-color: #3e8e57;
    color: white;
  }

  .hero-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    max-width: 751px;
    min-height: 494px;
    background-image: url(/Hero.png);
    background-size: 95%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
}
