.testimonial-container {
  max-width: 1120px;
  margin-inline: auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  position: relative;
}

.testimonial-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.testimonial-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.testimonial-image {
  width: 427px;
  height: 427px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
  text-align: left;
  max-width: 621px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.testimonial-text > h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.testimonial-text-con {
  max-width: 621px;
  border-radius: 20px;
  border: 2px solid #4da560;
  padding: 30px;
}

.testimonial-text-con > h3 {
  font-size: 28px;
  font-weight: 700;
  color: #4da560;
  margin-bottom: 10px;
}

.testimonial-text-con > p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.arrow {
  font-size: 24px;
  color: #4da560;
  cursor: pointer;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #2f855a;
}

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.slick-dots li button:before {
  color: #4da560;
}

.slick-dots li.slick-active button:before {
  color: #2f855a;
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px;
  }

  .testimonial-content {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-image {
    width: 250px;
    height: 250px;
    margin: 0 auto 20px auto;
  }

  .testimonial-text {
    max-width: 100%;
    gap: 20px;
  }

  .testimonial-text > h2 {
    font-size: 28px;
    text-align: center;
  }

  .testimonial-text-con {
    padding: 20px;
  }

  .testimonial-text-con > h3 {
    font-size: 22px;
  }

  .testimonial-text-con > p {
    font-size: 14px;
  }

  .navigation-container {
    gap: 15px;
  }

  .arrow {
    font-size: 20px;
  }
}
